.search-box{
    -fx-background-color: rgba(0,0,0,0);
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: #F16C31;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;


}
.img{
-fx-background-radius: 5;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
-fx-padding: 10;

}
.type{
         -fx-background-color: rgb(0,146,194);
         -fx-background-radius: 100;
     }

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}
.modsup-btn{
    -fx-background-color: orange;
    -fx-background-radius: 100;
}

.btn-photo{
              -fx-background-color: white;
              -fx-background-radius: 10;
 }

.free-delivery-card{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
        -fx-background-radius: 30;
}
.button-add
{
        -fx-background-color: #F16C31;
        -fx-background-radius: 50;
}
.button-add2
{
        -fx-background-color: rgb(128,169,255);;
        -fx-background-radius: 50;
}
.add-form{
    -fx-background-color: rgb(128,169,255);
    -fx-background-radius: 30;
}